
body {
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 17px;
	color: #f5f5f5;
	overflow: hidden;
	user-select: none;
}

header {
	text-align: center;
	margin-bottom: 5em;
}

header h1 {
	font-size: 6em;
	margin-bottom: 0;
	color: #fff;
	text-shadow: 0 7px #ddd, 0 4px #ddd;
}

header h6 {
	margin: 0;
	font-size: 0.92em;
	color: #fff;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

footer ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	background: #fff;
	padding: 10px;
	font-size: 15px;
}

footer ul li {
	display: inline-block;
}

footer ul li:after {
	content: "|";
	color: brown;
	font-size: 1.15em;
	font-weight: bolder;
	margin-left: 5px;
}

footer ul li:last-child:after {
	content: "";
}

.links {
	float: right;
}

.social {
	float: left;
}

a {
	color: brown;
	text-decoration: none;
}

.main {
	margin: 0 auto;
	width: 330px;
}

input {
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	font-size: 18px;
	clear: both;
}

.overlay {
	width: 1920px;
	height: 1080px;
	position: absolute;
	top: 0;
	left: 0;
}

#gameCanvas {
	background: #fff;
	z-index: -1;
}

#overlay {
	background: #ccc; 
	display: none;
}

.bg {
	background: url(../bg.png);
}

@keyframes fade-out {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes go-up {
	from { transform: translateY(0%); }
	to { transform: translateY(-100%); }
}

@keyframes go-down {
	from { transform: translateY(-100%); }
	to { transform: translateY(0%); }
}

@keyframes come-up {
	from { transform: translateY(100%); }
	to { transform: translateY(0%); }
}

@keyframes come-down {
	from { transform: translateY(0%); }
	to { transform: translateY(100%); }
}

footer {
	transform: translateY(100%);
}

header, .main {
	opacity: 0;
}
