@font-face {
	font-family: 'Press Start 2P';
	src: url(e3t4euO8T-267oIAQAu6jDQyK3nVivM.woff2);
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Press Start 2P', Arial;
	font-size: 20px;
	font-weight: 100;
	overflow: hidden;
	user-select: none;
	cursor: url(./images/dev.jpg);
}

img {
	width: 100%;
}

h1, h2, h3 {
	font-weight: inherit;
	color: #888;
}

header {
	text-align: center;
	margin-bottom: 4em;
}

header h1 {
	text-shadow: 0 7px #ddd, 0 4px #ddd;
	font-size: 6em;
	margin-bottom: 0;
	color: #fff;
	font-weight: 700;
}

header h2 {
	margin: 0;
	font-size: 1.44em;
	color: #fafafa;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

footer ul {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	background: #fff;
	padding: 10px;
	font-size: 15px;
}

footer li {
	display: inline-block;
}

footer li:after {
	content: "|";
	color: brown;
	margin-left: 5px;
	font-size: 1.15em;
	font-weight: bolder;
}

footer li:last-child:after {
	content: "";
}

.links {
	float: right;
}

.social {
	float: left;
}

a {
	color: brown;
	text-decoration: none !important;
}

a:hover {
	color: blue;
	text-decoration: none !important;
}

a:visited {
	text-decoration: none !important;
}

input, button, select {
	font-size: inherit;
	padding: 5px;
	outline: 0;
	font-family: inherit;
	color: #666;
	margin-bottom: 5px;
}

input[type=text] {
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #ddd;
}

input[type=text]:focus {
	border: 2px solid #aaa;
}

button {
	width: auto;
	border: 0;
	margin-bottom: 15px;
	box-shadow: 0 10px #b53838;
    background: #da4343;
    color: #fff;
    cursor: pointer;
}

button[disabled] {
	opacity: 0.8;
	cursor: not-allowed;
}

button:active {
	box-shadow: none;
	position: relative;
	top: 10px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#mainOverlay {
	background: rgba(0, 0, 0, 0.3);
}

.container {
	display: inline-block;
	padding: 10px;
	background: #fff;
	color: #a4a4a4;
	box-shadow: 0 10px #f0f0f0;
	margin-bottom: 20px;
}

#mainLayout .container {
	overflow-y: auto;
	max-width: 310px;
	max-height: 290px;
	margin-left: 5px;
	float: left;
}

.centered {
	display: table;
	margin: 0 auto;
}

.ad {
	background: #eee;
}

#wsConnecting {
	position: absolute;
	top: 0;
	left: 0;
}